.card {
  background-image: url('/assets/gdw.jpg'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Faz a imagem cobrir toda a área do card */
  background-position: center; /* Centraliza a imagem */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80ch;
  color: #fff; /* Ajuste a cor do texto para garantir contraste */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-top: 0;
}

.card p {
  color: #fff; /* Ajuste a cor do texto para garantir contraste */
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.info {
  display: flex;
  gap: 10px;
}
