footer {
    background-color: rgb(26, 69, 163);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
    box-sizing: border-box; /* Garante que o padding não altere a largura do footer */
    margin: 0; /* Remove qualquer margem que possa estar causando a rolagem */
    overflow-x: hidden; /* Evita qualquer transbordamento horizontal */
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.stacks-for-devs {
    margin-top: 15px;
}

.social-links {
    margin-top: 10px;
}
