<footer>
    <p>Site desenvolvido com S2</p>
    <p>
      <a href="/termos-de-uso" target="_blank">Termos de Uso</a> •
      <a href="/politica-de-privacidade" target="_blank">Política de Privacidade</a>
    </p>
    
    <div class="stacks-for-devs">
      <p><strong>Stacks for devs</strong></p>
      <p>Angular + TypeScript</p>
    </div>
    
    <div class="social-links">
      <p>
        <a href="https://github.com" target="_blank">Github</a> •
        <a href="https://www.linkedin.com" target="_blank">Linkedin</a>
      </p>
    </div>
  </footer>
  