<header>
  <div class="logo">
    <img src="assets/logo.jpeg" alt="Logo do site">
  </div>

  <nav class="nav-links">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/myposts">Meus Posts</a></li>
    </ul>
  </nav>

  <div class="auth-buttons">
    <input type="text" placeholder="Pesquisar...">

    <!-- Avatar do usuário -->
    <div class="user-avatar" (click)="toggleUserMenu()">
      <img
        *ngIf="isAuthenticated; else guestAvatar"
        [src]="userAvatar"
        alt="Avatar do Usuário"
        class="avatar-image"
      />
      <ng-template #guestAvatar>
        <img src="assets/guest.png" alt="Avatar Padrão" class="avatar-image" />
      </ng-template>
    </div>

    <!-- Menu dropdown -->
    <div *ngIf="showUserMenu" class="user-menu">
      <ng-container *ngIf="isAuthenticated; else guestMenu">

        <div class="user-avatar">
          <img
            *ngIf="isAuthenticated; else guestAvatar"
            [src]="userAvatar"
            alt="Avatar do Usuário"
            class="avatar-image"
          />
          <ng-template #guestAvatar>
            <img src="assets/guest.png" alt="Avatar Padrão" class="avatar-image" />
          </ng-template>
        </div>
        <p>{{ user?.username }}</p>
        <p>{{ user?.email }}</p>
        <button (click)="logout()">Sair</button>
      </ng-container>
      <ng-template #guestMenu>
        <button routerLink="/login">Login</button>
        <button routerLink="/register">Registrar</button>
      </ng-template>
    </div>
  </div>
</header>
