
<div class="container">
    <div class="welcome-text">
        <img src="./../../assets/Pegaso.jpg" alt="Icon" class="welcome-icon"> 
       <h2> Seja bem-vindo ao Pégaso</h2> 
    </div>
    
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tristique felis. 
        Etiam ut ipsum at sem pharetra eleifend. Praesent egestas diam mollis, 
        ornare elit non, ornare ex. Donec id dui vitae nisi auctor cursus.
        Aenean congue ex in leo cursus consequat. Pellentesque non nibh vehicula,
        gravida neque et, condimentum nulla. leia as <a href="1">REGRAS</a>
    </h3>
</div>

