.container {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1a45a3), 
                url('/assets/logo.jpeg') no-repeat center center;
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    text-align: justify;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid blue;
    color: #ffffff; /* Cor do texto */
    position: relative;
    
    /* Limita a largura do container a 90% da largura da tela (ajuste conforme necessário) */
    width: 90%; 
    
    /* Defina uma largura máxima para o container (exemplo: 1200px) */
    max-width: 1200px;
    
    /* Centraliza o container na tela */
    margin: 0 auto;
}

h3 {
    color: #ffffff; /* Cor do título */
}

p {
    color: #f5eeee; /* Cor do parágrafo */
}

.welcome-text {
    display: inline-block; /* Permite que a imagem e o texto fiquem lado a lado */
}

.welcome-icon {
    float: left; /* Alinha a imagem à esquerda */
    margin-right: 10px; /* Espaço entre imagem e texto */
    width: 50px; /* Define o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
}
