<div class="create-post-container">
    <h2>Criar Post</h2>
    <form (ngSubmit)="onSubmit()" #postForm="ngForm">
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" [(ngModel)]="post.nome" required>
        </div>

        <div>
            <label for="summary">Resumo:</label>
            <textarea id="summary"  name="summary" [(ngModel)]="post.descricao" required></textarea>
        </div>


        <button type="submit" [disabled]="!postForm.form.valid">Criar Post</button>
    </form>
</div>
