.create-post-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 100px;
    margin-bottom: 100px;

}
textarea {
    resize: none; /* Desativa o redimensionamento */
    width: 100%; /* Garante que o textarea ocupa toda a largura disponível */
    height: 100px; /* Define uma altura padrão */
  }
  
  input[type="file"] {
    margin-top: 10px; /* Adiciona um espaço para a entrada de arquivo */
  }
  
  button {
    margin-top: 15px; /* Adiciona espaçamento antes do botão */
  }
  

h2 {
    text-align: center;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}
