<mat-card class="login-card">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class ="password">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" class="button">Login</button>
    <p><a routerLink="/register">Registrar</a></p>
  </form>

  
</mat-card>
  
