.home-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px; /* Ajuste conforme a altura do seu cabeçalho */
    
}

.content-container {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima da área de conteúdo */
    justify-content: center;
    
    gap: 20px;
}

.aviso-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #1a45a3; /* Cor de fundo do container de cards */
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ocupará o máximo de espaço disponível */
    margin-bottom: 20px;
}

.aside {
    background-color: rgb(26, 69, 163);
    margin-left: auto; /* Empurra o aside para a direita */
    padding: 20px;
    border-radius: 10px;
    max-width: 300px; /* Define a largura máxima para a barra lateral */
    margin-bottom: 20px;
}
